html, body {
    width: 100%;
    height: max-content;
}

* {
    box-sizing: border-box;
    font-family: SpoqaHanSans;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}