//media query point
$mobile-point: 768px;
$desktop-point: 769px;

// color
$comento-green: #00c854;
$stronger-gray: #7e848a;
$strong-gray: #adb5bd;
$weak-gray: #e1e4e7;
$title-black: #282c30;
$content-black: #495057;